<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="scss/style.scss")
		link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css', rel='stylesheet', type='text/css')
		script(defer src="https://use.fontawesome.com/991e61a5a1.js")
		script(defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js")
		script(defer src="js/main.js")
		title MediTech | Your Faux IT Products

	body
		header
			.wrap.flex
				.logoWrap.flex
					img.logo(src="../static/images/logo.png", alt="")
					h1 MediTech
					.canHazBurger
				nav.navMain
					ul
						li 
							a(href="#")  Members
						li 
							a(href="#") Services
						li 
							a(href="#")  Contact
						li 
							a(href="#")  About

		section.hero
			.wrap
				h2 Information Technology Products for Medical Institutes
				.img
					img(src="https://picsum.photos/700/400?random=0", alt="Medical")
				i.fas.fa-chevron-circle-down

		section.contactUs
			h3 Contact Us for a free quote and consultation
			button.btn.contact Contact Us

		main
			.wrap
				h2.center What makes MediTech a world leader in medical IT hardware and software?
				.grid
					.cell
						i.fas.fa-user-md
						h3 item1
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quaerat dolorum temporibus quia praesentium, provident nisi deserunt perspiciatis eius rem omnis quibusdam iure minima nulla voluptates mollitia libero nam laudantium?
					.cell
						i.fas.fa-procedures
						h3 item2
						p Molestias natus explicabo modi debitis veritatis sapiente nemo est temporibus? Ipsum vero, repellat perferendis tenetur doloremque maxime, sapiente voluptatum quasi dolores libero error, velit magni deleniti! Dolorum voluptatum eum aliquam?
					.cell
						i.fas.fa-cloud-upload-alt
						h3 item3
						p Porro consectetur doloribus dolorem quam ratione a ducimus, quas fugit molestiae unde repudiandae accusantium ex. Ut in quod hic, molestiae fuga quis voluptates officiis? Sit modi perspiciatis porro incidunt autem.
					.cell
						i.fas.fa-sort-amount-up
						h3 item4
						p Esse sunt numquam asperiores cupiditate repudiandae eos veritatis officiis sequi? Quaerat vero, ad enim ratione, in culpa reprehenderit nesciunt autem quisquam minima esse repudiandae accusantium minus explicabo totam, tempore debitis.
						
					.cell
						i.fas.fa-business-time
						h3 item5
						p Commodi corrupti laborum dicta hic debitis, impedit natus nihil eum neque ratione possimus quis recusandae, libero placeat, vero rerum ad reiciendis temporibus iusto aperiam in eius! Molestiae est aut dicta.
						br
					.cell
						i.fas.fa-microscope
						h3 item6
						p Facilis ratione laboriosam beatae unde a consectetur neque praesentium accusamus non maxime esse quidem doloremque adipisci numquam sunt eaque aperiam temporibus, modi atque eligendi dignissimos rerum corporis dolorem. Praesentium, natus.
		
		section.services
			.wrap.flex
				.box 
					h3 Hospitals
					p Administration Staff
				.box 
					h3 Doctors
					p Independent Practice
				.box 
					h3 Sign Up
					p New members

		section.feature
			.wrap
				h2 Start using our services today
				.img
					img(src="https://picsum.photos/700/400?random=1", alt="Medical")
		
		section.newsletter
			h3 Register for our Newsletter for news on all updates
			button.btn.contact Register

		section.testimonials
			.wrap
				h2 What our clients say about us
				
				.card.flex
					.img
						img(src="https://picsum.photos/250/250?random=3", alt="Medical")
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus itaque consequuntur perspiciatis vel blanditiis tenetur necessitatibus commodi fuga, neque, ipsum, ratione obcaecati! Iusto recusandae ullam doloremque molestiae itaque adipisci. Officiis.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus itaque consequuntur perspiciatis vel blanditiis tenetur necessitatibus commodi fuga, neque, ipsum, ratione obcaecati! Iusto recusandae ullam doloremque molestiae itaque adipisci. Officiis.
				.card.flex
					.img
						img(src="https://picsum.photos/250/250?random=4", alt="Medical")
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus itaque consequuntur perspiciatis vel blanditiis tenetur necessitatibus commodi fuga, neque, ipsum, ratione obcaecati! Iusto recusandae ullam doloremque molestiae itaque adipisci. Officiis.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus itaque consequuntur perspiciatis vel blanditiis tenetur necessitatibus commodi fuga, neque, ipsum, ratione obcaecati! Iusto recusandae ullam doloremque molestiae itaque adipisci. Officiis.
				.card.flex
					.img
						img(src="https://picsum.photos/250/250?random=5", alt="Medical")
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus itaque consequuntur perspiciatis vel blanditiis tenetur necessitatibus commodi fuga, neque, ipsum, ratione obcaecati! Iusto recusandae ullam doloremque molestiae itaque adipisci. Officiis.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus itaque consequuntur perspiciatis vel blanditiis tenetur necessitatibus commodi fuga, neque, ipsum, ratione obcaecati! Iusto recusandae ullam doloremque molestiae itaque adipisci. Officiis.
		footer
			.copyright copyright 2020 | other | footer | stuffs