<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="scss/style.scss")
		link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css', rel='stylesheet', type='text/css')
		script(defer src="https://use.fontawesome.com/991e61a5a1.js")
		script(defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js")
		script(defer src="js/main.js")
		title Change ME!

	body
		header
			.wrap.flex
				h1 Just a Template
				nav
					ul.navMain
						li item1
						li item2
						li item3
						li item4
		main
			.wrap
				h1.center This world needs more hellos "hello world"
				-let a = 6
				.grid
					while a > 0
						.cell
							p I am Cell
						-a--
