@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

//- //< Sassy settings
$minWidthLg: 1000px;
$minWidthMed: 800px;
$minWidthSml: 420px;

//- //>Base settings
:root {
	--color: #c3dcff;
	--colorAlpha: #c3dcff91;
	--colorDark: #152d78;
	--color2: #3772ff;
	--color2Alpha: #3773ff81;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	background: white;
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
	box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.5);
	border-radius: 0.25rem;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3 {
	color: var(--colorDark);
	font-family: 'Raleway', sans-serif;
}

h2,
h3 {
	letter-spacing: 0.1rem;
}

.btn {
	padding: 0.75rem 1.5rem;
	color: white;
	font-weight: bolder;
	text-transform: uppercase;
	background: var(--color2);
	border: 1px solid var(--colorDark);
	border-radius: 5px;
	box-shadow: 0.75px 0.75px 1.5px 0.75px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	&:hover {
		color: var(--color);
		background: var(--colorDark);
	}
}

.wrap {
	max-width: 1199px;
	margin: 0 auto;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

header {
	padding: 0 1rem;
	position: relative;
}

.logoWrap,
.navMain {
	@media (max-width: $minWidthMed) {
		width: 100%;
		justify-self: center;
		text-align: center;
	}
}

.logo {
	width: 35px;
	height: 35px;
	margin-right: 1rem;
	box-shadow: 0 0 0 0;
}

.hidden {
	display: inline-block;
	visibility: visible;

	@media (max-width: $minWidthMed) {
		visibility: hidden;
		display: none;
	}
}

.canHazBurger {
	display: grid;
	gap: 3px;
	justify-content: center;
	visibility: hidden;
	@media (max-width: $minWidthMed) {
		visibility: visible;
		li {
			width: 25px;
			height: 3px;
			background: var(--color2);
		}
	}
}

.navMain {
	@media (max-width: $minWidthMed) {
		position: absolute;
		top: 70px;
		left: 0;
		background: linear-gradient(white, var(--color));
		z-index: 999;
	}

	a {
		padding: 5px 0;
		color: var(--color2);
		font-weight: bolder;
		text-transform: uppercase;
		&:hover {
			color: var(--colorDark);
			border-top: 3px solid var(--color2);
		}
	}
	li {
		padding: 1em;
		display: inline-block;
		text-align: center;
		@media (max-width: $minWidthMed) {
			display: block;
		}
	}
}

.hero {
	text-align: center;
	position: relative;
	img {
		box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.5);
	}
	i {
		margin-top: 1rem;
		color: var(--color);
		font-size: 2rem;
	}
}

.hero::after {
	content: '';
	width: 40%;
	height: 120%;
	position: absolute;
	top: -20%;
	right: 0;
	border-radius: 0 0 0 4rem;
	background: linear-gradient(180deg, white 1%, var(--color) 99%);
	z-index: -99;
}

.hero::before {
	content: '\f58e';
	position: absolute;
	bottom: 10px;
	left: 20px;
	color: var(--color);
	font-family: 'Font Awesome 5 Free';
	font-size: 10rem;
	font-weight: 900;
	z-index: -99;
}

.contactUs,
.newsletter {
	padding: 6rem;
	position: relative;
	text-align: center;
}

.contactUs::after {
	@extend .hero::before;
	content: '\f2a1';
	right: 20px;
	left: auto;
}

.newsletter::after {
	@extend .contactUs::after;
	content: '\f58d';
}

main {
	padding: 1rem 2rem;
	border-radius: 0 4rem 0 0;
	background: linear-gradient(180deg, var(--color) 70%, white);
}

section {
	margin: 2rem 0;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
}

.cell {
	min-height: 400px;
	padding: 3rem;
	border-radius: 1rem;
	background: white;
	i {
		color: var(--color2);
		font-size: 4rem;
	}
}

.services > .flex {
	justify-content: space-around;
}

.box {
	min-width: 300px;
	padding: 2rem;
	margin: 2rem;
	align-items: center;
	text-transform: uppercase;
	text-align: center;
	background: var(--color2);
	border-radius: 1rem 1rem 1rem 3rem;
	cursor: pointer;
	&:hover {
		box-shadow: 0.5px 0.5px 1.5px 0.5px rgba(0, 0, 0, 0.5);
		background: linear-gradient(45deg, white, var(--color2));
	}
	h3 {
		color: var(--color);
		text-shadow: 1px 1px 2px black;
	}
}

.feature {
	position: relative;
	text-align: center;
}

.feature::after {
	content: '';
	width: 85%;
	height: 120%;
	position: absolute;
	bottom: -50px;
	left: 0;
	border-radius: 0 0 5rem 0;
	background: linear-gradient(180deg, white 60%, var(--color));
	z-index: -99;
}

.card.flex {
	min-height: 250px;
	margin: 2rem;
	padding: 0 2rem 0 0;
	position: relative;
	flex-wrap: nowrap;
	color: var(--color);
	text-align: right;
	border-radius: 0.75rem 0.75rem 3rem 0.75rem;
	background: var(--color2);
	@media (max-width: $minWidthMed) {
		flex-wrap: wrap;
	}
	.img {
		min-width: 250px;
		position: relative;
		top: -20px;
		left: -10px;
	}
	p {
		margin: 1rem 2px;
	}
}

.testimonials h2 {
	padding: 0 1rem;
}

footer {
	padding: 2rem;
	text-align: center;
}
